<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.bootcss.com/vue/2.6.5/vue.js"></script>
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>
<body>
  <div id="app">

    <cmt-box @func="loadComments"></cmt-box>

    <ul class="list-group">
      <li class="list-group-item" v-for="(item, index) in list" :key="item.id">
        <span class="badge">评论者：{{item.user}}</span>
        {{item.content}}
      </li>
    </ul>
  
  </div>
  <template id="tem1">
    <div>
      <div class="form-group">
        <label>评论人:</label>
        <input type="text" class="form-control" v-model="user">
      </div>

      <div class="form-group">
        <label for="">评论内容:</label>
        <textarea class="form-control" v-model="content"></textarea>
      </div>

      <div class="form-group">
        <input type="button" value="发表评论" class="btn btn-primary" @click="postComment"> 
      </div>
    </div>
  </template>
  <script>

    var commentBox = {
      data() {
        return {
          user: '',
          content: ''
        }
      },
      template: '#tem1',
      methods: {
        postComment() { // 发表评论
          // 1. 评论数据存放在哪里  存放到了localStorage
          // 2. 先组织出一个最新的评论数据对象
          // 3. 想办法 把第二步得到的对象保存到localStorage
          // localStorage 只支持存放字符串 要先调用JSON.stringify
          // 在保存最新的评论数据之前  要先从localStorage获取之前的数据（string） 转换为一个数组对象 然后把最新的评论PUSH到数组中
          // 如果获取到的localStorage中的评论字符串为空 则返回[] 让JSON.parse 去转换
          // 把最新的评论列表数组 再次调用JSON.stringify转为数组字符串 然后调用localStorage.setItem
          var comment = {id: Date.now(), user: this.user, content: this.content}
          
          // 从localStorage中获取所有的评论
          var list = JSON.parse(localStorage.getItem('cmts') || '[]')
          list.unshift(comment)
          // 重新保存最新的评论数据
          localStorage.setItem('cmts', JSON.stringify(list))
          this.user = this.content = ''
          this.$emit('func')
        },
    }
  }

    var vm = new Vue({
      el: '#app',
      data() {
        return {
          list: [
            {id: Date.now(), user: '李白', content: '天生我材必有用'},
            {id: Date.now(), user: '江晓白', content: '劝君更进一杯酒'},
            {id: Date.now(), user: '小马', content: '忽如一夜春风来'}
      

          ]
        }
      },
      components: {
        'cmt-box': commentBox
      },
      methods: {
        loadComments(){
          // 从本地存储中加载评论列表
          var list = JSON.parse(localStorage.getItem('cmts') || '[]')
          this.list = list
        }
      },
      beforeCreate() {
        // 这里不能调用loadComments()
      },
      created() {
        this.loadComments()
      },
    })
  </script>
</body>
</html>