*{
    padding: 0;
    margin: 0;
}
.page{
    width: 100%;
    height: 100%;   
    background-color: #f5f9fe;
}
.head{
    background-color: #46a5fd;
    width: 100%;
    height: 160px;
}
.tx{
    height: 54px;
    width: 54px;
    background: url(./tx.jpg);
    background-size: contain;
    border-radius: 50%;
    position: absolute;
    top:70px;
    left: 17px;
}
.username{
    position: absolute;
    top: 74px;
    left: 78px;
    color: #ffffff;
    font-size: 16px;
}
.vip{
    /* width: 91px; */
    height: 22px;
    padding: 0 10px 0 10px;
    line-height: 1.375;
    border-radius: 12px;
    background-color: #ffffff;
    color: #d9d8d7;
    position: absolute;
    top: 100px;
    left: 78px;
    text-align: center;
}
.gold{
    color: gold;
    position: absolute;
    top: 103px;
    right: 173px;
}
.cardlink{
    color: #ffffff;
    position: absolute;
    top:85px;
    right: 19px;
}
.crown{
    width: 20px;
    height: 16px;
    background: url(./crown1.png)no-repeat;
    background-size: contain;
    margin-right: 10px;
    position: absolute;
    top:4px;
    left: 4px;
}
.center.info{
    width: 92%;
    height: 85px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    transform: translate(0,-30%);

}
.center.info p{
    line-height: 1.6;
}
.num{
    justify-content: center;
    display: inline-block;
    width: 75px;
    height: 50px;
    border-right: 1px solid #e1e1e1;
}
.yue{
    flex:1;

}
.candy{
    flex:1;

}
.coin{
    flex:1;
}
.center.func{
    width: 92%;
    height: 170px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #ffffff;
}
.center.func img{
    width: 28px;
    height: 28px;
}
.function{
    height: 50%;
    width: 33.3%;
    color:#b3b3b3;
    text-align: center;
    padding-top: 16px;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
}
.foot{
    width: 92%;
    height: 102px;
    margin: 15px;
    background-repeat: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
}
.foot-div{
    width: 100%;
    height: 100%;
    padding: 17px;
    box-sizing: border-box;
    display: flex;
}
.people{
    width: 70px;
    height: 70px;
    background-image: url(./superMe.png);
    background-size: contain;
}
.wenzi{
    margin-top: 10px;
    margin-left: 12px;
    display: block;
    flex: 1;
}
.intro_{
    margin-top: 8px;
    color: #777271;
    font-size: 12px;
}
.click{
    height: 30px;
    width: 95px;
    margin-top: 23px;
    background-color: #3e97ff;
    color:#ffffff;
    text-align: center;
    border-radius: 15px;
    line-height: 1.7;
}