*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 20px;

    background-color: #f5fafe;
}
ul li{
    list-style: none;
}
.page{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.page-header{
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow:0px 0px  5px 5px #e6eaee;
}
.page-header__pic{
    width: 100%;
    height: 10rem;
    background: url(./bg.jpg) no-repeat;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.page-header__userinfo{
    padding:10px 10px 13px 10px;
    position: relative;
}
.name{
    line-height: 1;
}
.name::after{
    content: "";
    height: 16px;
    width: 16px;
    background-image: url(./girl.png);
    position: absolute;
    right: 269px;
    bottom: 131px;
    background-size: 100%;
}
.labels{
    margin-top: 10px;
}
.label{
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
}
.blue{
    background-color: #48A6FD;
}
.green{
    background-color: #1DCA42;
}
.orange{
    background-color: #FB8800;
}
.page-header__msg{
    margin-top: 10px;
}
.items{

}
.item{
    width: 130px;
    line-height: 2;
    display: inline-block;
    position: relative;
    padding-left: 20px;
}
.city::before{
    content: "";
    width: 15px;
    height: 20px;
    background: url(./weixin.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.ewm{
    width: 34px;
    height: 33px;
    position: absolute;
    top:32px;
    right: 11.5px;
   
    
}
.ewm img{
    display: block;
    width: 100%;
    height: 100%;
}
.hongbao{
    width: 55px;
    height: 50px;
    position: absolute;
    top:100px;
    right: 5px;
   
    
}
.hongbao img{
    display: block;
    width: 100%;
    height: 100%;
}
.page-center-browse{
    width: 97%;
    margin: 10px;
    padding-left: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
}
.page-center-browse p{
    float: right;
    position: relative;
    top: -44px;
    left:-11px;
    font-size: .7rem;
}

.page-center-browse.tx
{
    padding: 3.5px;
    margin-left: -21px;
    
}
.txd{
    width: 35px;
    height: 35px;

    border-radius: 50%;
}
.page-center-provide{
    background-color: #ffffff;
    padding: 12px;
    border-radius: 5px;
}
.title{
    font-size: 14px;
    
}
.content1{
    font-size: 10px;
    line-height: 1.4;
}
.title::before{
    
}