.homeContainer
  width 100%
  background-color #ffffff
  .header
    padding 8px 12px
    display flex
    .header-logo
      height 28px
      width 75px
      margin-right 20px
      img 
        width 100%
        padding-top 7px
    .header-search
      flex 1
      .header-input
        border none
        background-color #ededed
        width 100%
        height 100%
        border-radius: 5px
      input::-ms-input-placeholder
        text-align center  
      input::-webkit-input-placeholder
        text-align center

    .header-sao
      margin-left 10px
      padding-top 4px
      width 25px
      img 
        width 100%